@import url('//fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
    font-family: 'Roboto' !important;
}

#root {
    height: 100%;
}

.toast.toast {
    border-radius: 0.5rem;
    font-weight: 500;
    padding: 1rem;
    font-family: 'Roboto';
    min-height: auto;
}